* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  font-family: Yu Mincho;
  text-align: center;
}

.top-wrapper {
  height: 94vh;
  margin-top: 65px;
  padding: 15% 0 20% 0;
  background-image: url(top-image.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  font-family: Yu Mincho;
  background:rgba(29, 28, 28, 0.5);
  margin-top: 8vh;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;

  padding: 0 15px;
  background:rgba(29, 28, 28, 0.5);
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #060707;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  font-family: Yu Mincho;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.logo2 {
  height: 215px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.heading {
  padding-top: 15vh;
  padding-bottom: calc(7vh - 10%);
  color: #5f5d60;
}

.heading2{
  padding-top: 7vh;
  padding-bottom: calc(21vh - 10%);
  color: #5f5d60;
}

.heading2 h2 {
  font-weight: normal;
}


.heading h2 {
  font-weight: normal;
}


.heading h3 {
  font-weight: normal;
}

.message {
  padding: 15px 40px;
  background-color: #212422;
  cursor: pointer;
  margin-bottom: 3vh;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.about-wrapper {
  height: 600px;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.clear {
  clear: left;
}

/* ********************************************************************* */
.menu-btn {
  position: fixed;
  top: 30px;
  right: 0px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  display: none;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 20%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(29, 28, 28, 0.9);
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

/* ******************************************************* */
.block-2{
  height: 420px;
  padding: 4% 5%;
  margin: 0 auto;
  font-family: Yu Mincho;
  text-align: center;
}

.textarea {
  padding-left: 2vh;
  padding-right: 2vh;
}


@media all and (min-width: 1256px){
  .br-bl2-9 {display: none;}
}

@media all and (min-width: 1138px){
  .br-bl2-8 {display: none;}
}


@media all and (max-width: 1000px) {
  .block-2{
    height: 395px;
    padding: 7% 5% 5% 5%;
    font-size: 83%;
  }
  .hako-2 h2{
    margin: 0;
  }
  .textarea {
    padding-left: 0;
    padding-right:0;
  }
  .br-bl2-8 {display: none;}
  .br-bl2-9 {display: block}
}


@media all and (max-width: 904px) {
  .br-bl2-8 {display: block;}
  /* .br-bl2-9 {display: none;} */
}


@media all and (max-width: 850px) {
  .block-2{
    height: 395px;
    padding: 7% 5% 5% 5%;
    font-size: 83%;
  }
  .hako-2 h2{
    margin: 0;
  }
  .textarea {
    padding-left: 0;
    padding-right:0;
  }
}

@media all and (max-width: 770px) {
  .block-2{
    height: 395px;
    padding: 7% 5% 5% 5%;
    font-size: 83%;
  }
  .hako-2 h2{
    margin: 0;
  }
  .textarea {
    padding-left: 0;
    padding-right:0;
  }
}

@media all and (max-width: 694px) {
  .block-2{
    height: 395px;
    padding: 7% 5% 5% 5%;
    font-size: 83%;
  }
  .hako-2 h2{
    margin: 0;
  }
  .textarea {
    padding-left: 0;
    padding-right:0;
  }
}
@media all and (min-width: 694px){
  .br-bl2-7 {display: none; }
}


@media all and (max-width: 665px) {
  .block-2{
    height: 395px;
  }
  .br-bl2-7 {display: none; }
  .br-bl2-8 {display: none;}
}
@media all and (min-width: 666px){
  .br-bl2-6 {display: none; }
}


@media all and (max-width: 630px) {
  .block-2{
    height: 395px;
  }
  .br-bl2-6 {display: none; }
  .br-bl2-9 {display: block; }
  .br-bl2-8 {display: block; }
}
@media all and (min-width: 631px){
  .br-bl2-5 {display: none; }
}

@media all and (min-width: 627px){
  .br-bl2-10 {display: none; }
}


@media all and (max-width: 572px) {
  .block-2{
    height: 440px;
    padding: 7% 5% 5% 5%;
    font-size: 80%;
  }
  .br-bl2-5 {display: none; }
  .br-bl2-6 {display: none; }
}
@media all and (min-width: 573px){
  .br-bl2-4 {display: none; }
}

@media all and (max-width: 505px) {
  .block-2{
    height: 460px;
    padding: 9% 5% 5% 5%;
    margin: 0 auto;
    font-family: Yu Mincho;
    font-size: 80%;
    text-align: center;
  }
}

@media all and (min-width: 498px){
  .br-bl2-11 {display: none; }
}

@media all and (min-width: 453px){
  .br-bl2-12 {display: none; }
}

@media all and (max-width: 415px) {
  .block-2{
    height: 500px;
    padding: 7% 5% 5% 5%;
    margin: 0 auto;
    font-family: Yu Mincho;
    font-size: 80%;
    text-align: center;
  }
  .textarea{
    padding-top: 5%;
  }
  .br-bl2-4 {display: none; }
  .br-bl2-8{display: none;}
  .br-bl2-9{display: none;}
  .br-bl2-10{display: none;}
}
@media all and (min-width: 416px){
  .br-bl2-3 {display: none; }
}

@media all and (max-width: 391px) {
  .block-2{
    height: 510px;
    padding: 7vh 5% 5% 5%;
    margin: 0 auto;
    font-family: Yu Mincho;
    font-size: 80%;
    text-align: center;
  }
}


@media all and (max-width: 375px) {
  .block-2{
    height: 550px;
    padding: 7vh 5% 5% 5%;
    margin: 0 auto;
    font-family: Yu Mincho;
    text-align: center;
  }
  .br-bl2-3 {display: none; }
  .br-bl2-11{display: none;}
}
@media all and (min-width: 376px){
  .br-bl2-2 {display: none; }
}

@media all and (max-width: 330px) {
  .block-2{
    height: 630px;
    padding: 7vh 5% 5% 5%;
    margin: 0 auto;
    font-family: Yu Mincho;
    text-align: center;
  }
  .br-bl2-2 {display: none; }
  .br-bl2-12{display: none;}
}
@media all and (min-width: 330px){
  .br-bl2 {display: none; }
}

/***********************************************************************************/

.block-3{
  height: 570px;
  padding: 4% 5%;
  margin: 0 auto;
  font-family: Yu Mincho;
  text-align: center;
}

.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 35%;
  width: 100%;
  color: black;
  font-size: 21px;
  font-weight: bold; 
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  color: #848285;
}

@media all and (min-width: 1489px){
  .br-bl3-1 {display: none; }
}

@media all and (max-width: 1000px){
  .block-3{
    height: 1185px;
  }

  .lesson {
    width: 100%;
    margin-bottom: 15px;
  }

  .br-bl3-1 {display: none; }
}
@media all and (min-width: 1001px){
  .br-bl3-2 {display: none; }
}

@media all and (min-width: 757px){
  .br-bl3-3 {display: none; }
}

@media all and (min-width: 608px){
  .br-bl3-4 {display: none; }
}

@media all and (min-width: 506px){
  .br-bl3-5 {display: none; }
}

@media all and (max-width: 487px){
  .block-3{
    height: calc(1220px + 10%);
  }
  .br-bl3-1 {display: block; }
}

@media all and (min-width: 427px){
  .br-bl3-6 {display: none; }
}

@media all and (min-width: 389px){
  .br-bl3-7 {display: none; }
}

@media all and (min-width: 349px){
  .br-bl3-8 {display: none; }
}

@media all and (max-width: 330px){
  .text-contents {
    font-size: 0.7rem;
  }
}

/* *********************************************************************************** */

.block-5{
  height: 50vh;
  padding: 5% 5%;
  margin: 0 auto;
  font-family: Yu Mincho;
  color: #848285;
  text-align: center;
}
.hako-8{

}
.hako-8 h2{
  font-weight: normal;
  padding-bottom: 6vh;
}

:root {
  --circle-size: clamp(1.5rem,5vw,3rem);
  --spacing: clamp(0.25rem,2vw,0.5rem);
}
.c-stepper {
  display: flex;
      padding: 0;
}
.c-stepper__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.c-stepper__item:before {
  --size: 3rem;
  content: "";
  display: block;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background-color: lightgrey;
  background-color: red;
  opacity: 0.5;
  margin: 0 auto 1rem;
}
.c-stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: calc(var(--circle-size) / 2);
  width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
  left: 60%;
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}
.c-stepper__title {
  font-weight: bold;
  font-size: clamp(1rem,4vw,1.25rem);
  margin-bottom: 0.5rem;
}
.c-stepper__desc {
  color: grey;
  font-size: clamp(0.85rem,2vw,1rem);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  position   : relative;
}@media (max-width: 700px) {
  .c-stepper__desc{
    font-size: 55%;
    padding-top: 2vh;
  }
}

.c-stepper__desc:hover .balloon {
  display: inline;                /* インライン要素として表示 */
}
.wrapper {
  max-width: 1000px;
  margin: 2rem auto 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/***********************************************************************************/
.block-6{
  height: 57vh;
  padding: 3% 5%;
  background-color: rgb(247, 247, 247);
  font-family: Yu Mincho;
  color: #848285;
  text-align: center;
}

.hako-9{

}

.schedule{

}

.event-content{
  padding-top: 2vh;
}

.buttons{
  padding:5vh 0vh;
}

@media all and (max-width: 482px) {
  .block-6{
    font-size: 66%;
  }
  .hako-9{
    padding:4vh 0;
    text-align: center;
  }  
  .buttons{
    padding-top:5vh;
  }
}

@media all and (max-width: 430px) {
  .block-6{
    font-size: 66%;
  }
  .hako-9{
    padding:4vh 0;
    text-align: center;
  }  
  .buttons{
    padding-top:5vh;
  }
}

@media all and (max-width: 380px) {
  .block-6{
    font-size: 66%;
  }
  .hako-9{
    padding:4vh 0;
    text-align: center;
  }  
  .buttons{
    padding-top:5vh;
  }
}

/* ********************************************************************** */

@media all and (max-width: 1820px) {
  .initial{
    margin-top: calc(10vh + 5%);
  }
}

@media all and (max-width: 1700px) {
  .initial{
    margin-top: calc(10vh + 6%);
  }
}

@media all and (max-width: 1600px) {
  .initial{
    margin-top: calc(10vh + 7%);
  }
}

@media all and (max-width: 1400px) {
  .initial{
    margin-top: calc(10vh + 8%);
  }

  .heading2{
    padding-top: 7vh;
    padding-bottom: calc(18vh - 10%);
    color: #5f5d60;
  }
}

@media all and (max-width: 1200px) {
  .initial{
    margin-top: calc(10vh + 10%);
  }

  .heading2{
    padding-top: 7vh;
    padding-bottom: calc(15vh - 10%);
    color: #5f5d60;
  }
}

@media all and (max-width: 1000px) {
  .initial{
    margin-top: calc(10vh + 15%);
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 900px) {
  .heading{
    padding-top: calc(15vh - 3%);
  }

  .initial{
    margin-top: calc(10vh + 20%);
  }
}

@media all and (max-width: 750px) {
  .heading{
    padding-top: calc(15vh - 5%);
  }

  .top-wrapper h1 {
    font-size: 2.5rem;
  }

  .heading h2 {
    font-size: 20px;
  }

  .initial{
    margin-top: calc(10vh + 23%);
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 2.3rem;
  }

  .top-wrapper p {
    font-size: 1.1rem;
  }

  .heading{
    padding-top: calc(13vh - 10%);
  }

  .initial{
    margin-top: calc(10vh + 26%);
  }

  .message-wrapper .btn {
    width: 100%;
  }

  .heading2{
    padding-top: 5vh;
    padding-bottom: calc(7vh - 10%);
  }
}

@media all and (max-width: 530px) {
  .top-wrapper h1 {
    font-size: 2.0rem;
  }
  .top-wrapper p {
    font-size: 1.0rem;
  }

  .heading{
    padding-top: calc(8vh - 10%);
  }
}

@media all and (max-width: 482px) {
  .top-wrapper h1 {
    font-size: 1.7rem;
  }

  .top-wrapper p {
    font-size: 0.9rem;
  }

  .heading{
    padding-top: calc(6vh - 10%);
    padding-bottom: calc(4.5vh - 10%);
  }

}

@media all and (max-width: 430px) {
  .top-wrapper h1 {
    font-size: 1.3rem;
  }

  .top-wrapper p {
    font-size: 0.7rem;
  }
}

@media all and (max-width: 420px) {
  .heading{
    padding-top: calc(7vh - 10%);
    padding-bottom: calc(4vh - 10%);
  }
}

@media all and (max-width: 380px) {
  .heading h2 {
    font-size: 20px;
    margin-top: 5vh;
  }

  /* .textarea{
    font-size: 0.8rem;
    padding-top: 5vh;
  } */
}
