* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/* .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  font-family: Yu Mincho;
} */

/* .initial {

} */

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  font-family: Yu Mincho;
  text-align: center;
}

.top-wrapper {
  height: 94vh;
  margin-top: 65px;
  padding: 15% 0 20% 0;
  background-image: url(top-image.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  font-family: Yu Mincho;
  background:rgba(29, 28, 28, 0.5);
  margin-top: 8vh;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;

  padding: 0 15px;
  background:rgba(29, 28, 28, 0.5);
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #060707;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  font-family: Yu Mincho;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.lesson-wrapper {
  height: 680px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 15vh;
  padding-bottom: calc(7vh - 10%);
  color: #5f5d60;
}

.heading2{
  padding-top: 7vh;
  padding-bottom: calc(21vh - 10%);
  color: #5f5d60;
}

.heading2 h2 {
  font-weight: normal;
}

.textarea {
  font-size: 90%;
  padding-left: 1vh;
  padding-right: 1vh;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 33%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold; 
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  color: #848285;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  height: 600px;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #212422;
  cursor: pointer;
  margin-bottom: 3vh;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.about-wrapper {
  height: 600px;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.clear {
  clear: left;
}

.buttons{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.menu-btn {
  position: fixed;
  top: 30px;
  right: 0px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  display: none;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 20%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(29, 28, 28, 0.9);
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

@media all and (max-width: 1820px) {
  .initial{
    margin-top: calc(10vh + 5%);
  }
}

@media all and (max-width: 1700px) {
  .initial{
    margin-top: calc(10vh + 6%);
  }
}

@media all and (max-width: 1600px) {
  .initial{
    margin-top: calc(10vh + 7%);
  }
}

@media all and (max-width: 1400px) {
  .initial{
    margin-top: calc(10vh + 8%);
  }

  .heading2{
    padding-top: 7vh;
    padding-bottom: calc(18vh - 10%);
    color: #5f5d60;
  }
}

@media all and (max-width: 1200px) {
  .initial{
    margin-top: calc(10vh + 10%);
  }

  .heading2{
    padding-top: 7vh;
    padding-bottom: calc(15vh - 10%);
    color: #5f5d60;
  }
}

@media all and (max-width: 1000px) {
  .initial{
    margin-top: calc(10vh + 15%);
  }

  .lesson {
    width: 100%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 1300px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 900px) {
  .heading{
    padding-top: calc(15vh - 3%);
  }

  .initial{
    margin-top: calc(10vh + 20%);
  }
}

@media all and (max-width: 750px) {
  .heading{
    padding-top: calc(15vh - 5%);
  }

  .top-wrapper h1 {
    font-size: 2.5rem;
  }

  .heading h2 {
    font-size: 20px;
  }

  .initial{
    margin-top: calc(10vh + 23%);
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 2.3rem;
  }

  .top-wrapper p {
    font-size: 1.1rem;
  }

  .heading{
    padding-top: calc(13vh - 10%);
  }

  .initial{
    margin-top: calc(10vh + 26%);
  }

  .lesson {
    width: 100%;
  }

  .message-wrapper .btn {
    width: 100%;
  }

  .heading2{
    padding-top: 5vh;
    padding-bottom: calc(7vh - 10%);
  }
}

@media all and (max-width: 530px) {
  .top-wrapper h1 {
    font-size: 2.0rem;
  }
  .top-wrapper p {
    font-size: 1.0rem;
  }

  .heading{
    padding-top: calc(8vh - 10%);
  }
}

@media all and (max-width: 482px) {
  .top-wrapper h1 {
    font-size: 1.7rem;
  }

  .top-wrapper p {
    font-size: 0.9rem;
  }

  .heading{
    padding-top: calc(6vh - 10%);
    padding-bottom: calc(4.5vh - 10%);
  }

}

@media all and (max-width: 430px) {
  .top-wrapper h1 {
    font-size: 1.3rem;
  }

  .top-wrapper p {
    font-size: 0.7rem;
  }
}

@media all and (max-width: 420px) {
  .heading{
    padding-top: calc(7vh - 10%);
    padding-bottom: calc(4vh - 10%);
  }
}

@media all and (max-width: 380px) {
  .heading h2 {
    font-size: 20px;
    margin-top: 5vh;
  }

  .textarea{
    font-size: 0.8rem;
    padding-top: 5vh;
  }
}
